@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*-----------Colours---------------*/

.bg-color-menu {
   background-color: #F97C38;
}

.bg-color-nav{
    background-color: #727272;
}




/*-----------Header---------------*/

header {
    margin: 0;
}

.heading{
    margin-left: 0px;
    max-height: 130px;
}

.logo {
    background: url("../images/murfit-logo-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 150px;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.brand{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
}

.name{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 5px;
   text-align: center;
    color: #ffffff;
}

.nav-menu{
    padding: 0;
    align-content: center;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size: 0;
}

#nav li{
    font-size: 24px;
    padding: 0;
    text-align: center;
}

.nav-item{
    height: 
}
